<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">ASP.NET Framework Web API</h1>
        <p class="lead">This is a Weather API demo frontend. You can look through different implementations bellow or in main menu. Server API stays the same for all versions.</p>
    </section>
    <div class="row">
        <section class="col-md-4" aria-labelledby="api">
            <h2 id="api">API</h2>
            <p>ASP.NET Web API documentation generated at runtime.</p>
            <p>@Html.ActionLink("Show docs »", "Index", "Help", new { area = "" }, new { @class = "btn btn-outline-dark" })</p>
        </section>
    </div>
    <div class="row">
        <section class="col-md-4" aria-labelledby="mvc">
            <h2 id="mvc">MVC</h2>
            <p>Server rendered FE, that uses Model View Controller approach.</p>
            <p>@Html.ActionLink("Show demo »", "MVC", "Demo", new { area = "" }, new { @class = "btn btn-outline-dark" })</p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Forms</h2>
            <p>ToDo</p>
            <p>@Html.ActionLink("Show demo »", "WebForm", "Demo", new { area = "" }, new { @class = "btn btn-outline-dark" })</p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web App</h2>
            <p>ToDo</p>
            <p>@Html.ActionLink("Show demo »", "WebApp", "Demo", new { area = "" }, new { @class = "btn btn-outline-dark" })</p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">SPA</h2>
            <p>ToDo</p>
            <p>@Html.ActionLink("Show demo »", "SPA", "Demo", new { area = "" }, new { @class = "btn btn-outline-dark" })</p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Svelte</h2>
            <p>ToDo</p>
            <p>@Html.ActionLink("Show demo »", "Svelte", "Demo", new { area = "" }, new { @class = "btn btn-outline-dark" })</p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Astro</h2>
            <p>ToDo</p>
            <p>@Html.ActionLink("Show demo »", "Astro", "Demo", new { area = "" }, new { @class = "btn btn-outline-dark" })</p>
        </section>
    </div>
</main>